<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCompanion">
        <activity android:name=".WaterIntake"
            android:label="Water Intake Remainder"/>
        <activity android:name=".Exercise"
            android:label="Exercise" />
        <activity android:name=".AddSchedule"
            android:label="Water Intake Remainder"
            android:parentActivityName=".WaterIntake"/>
        <activity android:name=".StepCountActivity" />
        <activity android:name=".PedometerListActivity"
            android:label="Step Count"/>
        <activity android:name=".MainActivity2" />
        <activity android:name=".ForgotPasswordPage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".WaterIntakeRemainder"/>
    </application>

</manifest>